[Desktop Entry]
Version=1.0
Name=RadioPipe
Comment=A Fun Program
Exec=/usr/bin/radio-pipe
Icon=/usr/share/icons/radio-pipe/icon-64.png
Terminal=true
Type=Application
Categories=Utility;Application;
